<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Guia 4
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="https://colombianntourism.files.wordpress.com/2013/05/22_397_5_cartagena_de_indias__img_7277.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Guia 4</ion-card-subtitle>
        <ion-card-title>Bienvenido a mi app</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Aqui podras conocer los paises de america con su capital y el numero de habitantes, tambien algunos lugares turisticos de colombia recomendados por su anfitrión .</p>
      </ion-card-content>
    </ion-card>
</ion-content>
